Repository takapi327/ldbc, pull requests merged in 2024-06, with the labels that each got.

#222 Refactor/2024 06 sql
  benchmark/src/main/scala/benchmark/ldbc/Insert.scala
  benchmark/src/main/scala/benchmark/ldbc/Select.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/ConnectionProvider.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Executor.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Mysql.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/ResultSetConsumer.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/ResultSetReader.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/SQL.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/logging/LogEvent.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/logging/LogHandler.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/package.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/syntax/CommandSyntax.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/syntax/QuerySyntax.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/syntax/StringContextSyntax.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/util/FactoryCompat.scala
  module/ldbc-dsl/src/test/scala/ldbc/dsl/syntax/QuerySyntaxTest.scala
  module/ldbc-sql/src/main/scala/ldbc/sql/logging/LogHandler.scala
  tests/src/test/scala/ldbc/tests/DDLTest.scala
  tests/src/test/scala/ldbc/tests/SQLStringContextQueryTest.scala
  tests/src/test/scala/ldbc/tests/SQLStringContextUpdateTest.scala
  tests/src/test/scala/ldbc/tests/TableQuerySelectConnectionTest.scala
  tests/src/test/scala/ldbc/tests/TableQueryUpdateConnectionTest.scala
  tests/src/test/scala/ldbc/tests/model/Country.scala
  tests/src/test/scala/ldbc/tests/model/CountryLanguage.scala
Labels: 🔧 refactor

#225 Bug/2024 06 fix transaction
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Executor.scala
Labels: 🪲 bug, project:dsl

#223 Feature/2024 06 create static parameter
  module/ldbc-dsl/src/main/scala/ldbc/dsl/package.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/syntax/StringContextSyntax.scala
  module/ldbc-dsl/src/test/scala/ldbc/dsl/HelperFunctionTest.scala
  module/ldbc-sql/src/main/scala/ldbc/sql/ParameterBinder.scala
  tests/src/test/scala/ldbc/tests/SQLStringContextUpdateTest.scala
Labels: 🚀 feature, project:sql, project:dsl

#218 Update README/docs
  README.md
  docs/src/main/mdoc/index.md
Labels: 📖 documentation

#226 Update otel4s-core-trace from 0.7.0 to 0.8.0
  build.sbt
Labels: ⛓️ dependencies

#227 Refacor/2024 06 parameter redesign
  README.md
  benchmark/src/main/scala/benchmark/ldbc/CompileCreateQuery.scala
  benchmark/src/main/scala/benchmark/ldbc/Insert.scala
  benchmark/src/main/scala/benchmark/ldbc/RuntimeCreateQuery.scala
  benchmark/src/main/scala/benchmark/ldbc/Select.scala
  docs/src/main/mdoc/en/03-Type-safe-Query-Builder.md
  docs/src/main/mdoc/en/04-Database-Connection.md
  docs/src/main/mdoc/index.md
  docs/src/main/mdoc/ja/03-Type-safe-Query-Builder.md
  docs/src/main/mdoc/ja/04-Database-Connection.md
  module/ldbc-dsl/src/main/scala/ldbc/dsl/ConnectionProvider.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Executor.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Mysql.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/SQL.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/package.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/syntax/CommandSyntax.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/syntax/QuerySyntax.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/syntax/StringContextSyntax.scala
  module/ldbc-dsl/src/test/scala/ldbc/dsl/syntax/QuerySyntaxTest.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/ColumnQuery.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/Count.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/TableQuery.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/interpreter/Tuples.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/Command.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/Delete.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/ExpressionSyntax.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/GroupBy.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/Having.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/Insert.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/Join.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/Limit.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/OrderBy.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/Query.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/Select.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/Update.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/Where.scala
  module/ldbc-query-builder/src/test/scala/ldbc/query/builder/ColumnQueryTest.scala
  module/ldbc-query-builder/src/test/scala/ldbc/query/builder/TableQueryTest.scala
  module/ldbc-sql/src/main/scala/ldbc/sql/Parameter.scala
  module/ldbc-sql/src/main/scala/ldbc/sql/ParameterBinder.scala
  tests/src/test/scala/ldbc/tests/DDLTest.scala
  tests/src/test/scala/ldbc/tests/TableQuerySelectConnectionTest.scala
  tests/src/test/scala/ldbc/tests/TableQueryUpdateConnectionTest.scala
  tests/src/test/scala/ldbc/tests/model/Country.scala
  tests/src/test/scala/ldbc/tests/model/CountryLanguage.scala
Labels: 🔧 refactor, project:sql, project:queryBuilder, project:dsl

#230 Refactor/2024 06 functional modification of sql
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Mysql.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/ResultSetConsumer.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/SQL.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/package.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/statement/Query.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/syntax/StringContextSyntax.scala
  tests/src/test/scala/ldbc/tests/SQLStringContextQueryTest.scala
  tests/src/test/scala/ldbc/tests/SQLStringContextUpdateTest.scala
Labels: 🔧 refactor, project:sql, project:dsl

#233 Update scalatest from 3.2.17 to 3.2.18
  build.sbt
Labels: ⛓️ dependencies

#236 Replace `cats.implicits.*` with `cats.syntax.all.*`
  module/ldbc-dsl/src/main/scala/ldbc/dsl/ResultSetConsumer.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/ResultSetReader.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/syntax/CommandSyntax.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/syntax/ConnectionProvider.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/syntax/QuerySyntax.scala
Labels: 🔧 refactor, project:queryBuilder, project:dsl

#237 Update scalafmt-core from 3.8.1 to 3.8.2
  .git-blame-ignore-revs
  .scalafmt.conf
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/DatabaseMetaDataImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/Codec.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/NumericCodecs.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/data/Type.scala
Labels: ⛓️ dependencies

#241 Update mdoc, sbt-mdoc from 2.5.2 to 2.5.3
  project/plugins.sbt
Labels: ⛓️ dependencies

#238 Update circe-generic from 0.14.7 to 0.14.8
  build.sbt
  project/Dependencies.scala
Labels: ⛓️ dependencies

#239 Update circe-yaml from 0.15.1 to 0.15.2
  build.sbt
  project/Dependencies.scala
Labels: ⛓️ dependencies

#242 Refactor/2024 06 modification of core packages
  .github/workflows/ci.yml
  README.md
  benchmark/src/main/scala/benchmark/lepus/RuntimeCreate.scala
  build.sbt
  docs/src/main/mdoc/index.md
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/DatabaseModelGenerator.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/LdbcGenerator.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/TableModelGenerator.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/builder/ColumnCodeBuilder.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/builder/DataTypeCodeBuilder.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/formatter/Naming.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/model/DataType.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/model/Key.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/model/Table.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/parser/TableParser.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/builder/ColumnCodeBuilderTest.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/builder/DataTypeCodeBuilderTest.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/formatter/NamingTest.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/Column.scala
  module/ldbc-query-builder/src/test/scala/ldbc/query/builder/formatter/NamingTest.scala
  module/ldbc-schema/.js/src/test/scala/ldbc/schema/DataTypeTest.scala
  module/ldbc-schema/.jvm/src/test/scala/ldbc/schema/DataTypeTest.scala
  module/ldbc-schema/.native/src/test/scala/ldbc/schema/DataTypeTest.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Alias.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Character.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/ColumnImpl.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/DataType.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/DataTypes.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Database.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Default.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Key.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Reference.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/TableImpl.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/TableOption.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/attribute/AutoInc.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/attribute/package.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/interpreter/ColumnTupleConverter.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/interpreter/ColumnTuples.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/interpreter/Extract.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/model/EnumDataType.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/package.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/syntax/OrderingTable.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/syntax/package.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/AliasTest.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/ColumnImplTest.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/DataTypeCompileTest.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/DataTypesTest.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/KeyTest.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/TableImplTest.scala
  plugin/src/main/scala/ldbc/sbt/Dependencies.scala
Labels: 🔧 refactor
