Repository takapi327/ldbc, pull requests merged in 2024-12, with the labels that each got.

#330 Update cats-effect from 3.5.6 to 3.5.7
  build.sbt
  project/Dependencies.scala
Labels: ⛓️ dependencies

#331 Update sbt, scripted-plugin from 1.10.5 to 1.10.6
  project/build.properties
Labels: ⛓️ dependencies

#327 Update HikariCP from 6.1.0 to 6.2.1
  project/Dependencies.scala
Labels: ⛓️ dependencies

#332 Update otel4s-core-trace from 0.11.1 to 0.11.2
  build.sbt
Labels: ⛓️ dependencies

#333 Refactor/2024 12 schema migration
  build.sbt
  module/ldbc-renewal-schema/.js/src/test/scala/ldbc/schema/DataTypeTest.scala
  module/ldbc-renewal-schema/.jvm/src/test/scala/ldbc/schema/DataTypeTest.scala
  module/ldbc-renewal-schema/.native/src/test/scala/ldbc/schema/DataTypeTest.scala
  module/ldbc-renewal-schema/src/main/scala/ldbc/schema/Alias.scala
  module/ldbc-renewal-schema/src/main/scala/ldbc/schema/Character.scala
  module/ldbc-renewal-schema/src/main/scala/ldbc/schema/ColumnImpl.scala
  module/ldbc-renewal-schema/src/main/scala/ldbc/schema/DataType.scala
  module/ldbc-renewal-schema/src/main/scala/ldbc/schema/DataTypes.scala
  module/ldbc-renewal-schema/src/main/scala/ldbc/schema/Default.scala
  module/ldbc-renewal-schema/src/main/scala/ldbc/schema/Key.scala
  module/ldbc-renewal-schema/src/main/scala/ldbc/schema/Reference.scala
  module/ldbc-renewal-schema/src/main/scala/ldbc/schema/Table.scala
  module/ldbc-renewal-schema/src/main/scala/ldbc/schema/attribute/AutoInc.scala
  module/ldbc-renewal-schema/src/main/scala/ldbc/schema/attribute/package.scala
  module/ldbc-renewal-schema/src/main/scala/ldbc/schema/interpreter/Extract.scala
  module/ldbc-renewal-schema/src/main/scala/ldbc/schema/model/EnumDataType.scala
  module/ldbc-renewal-schema/src/main/scala/ldbc/schema/package.scala
  module/ldbc-renewal-schema/src/test/scala/ldbc/schema/AliasTest.scala
  module/ldbc-renewal-schema/src/test/scala/ldbc/schema/ColumnImplTest.scala
  module/ldbc-renewal-schema/src/test/scala/ldbc/schema/DataTypeCompileTest.scala
  module/ldbc-renewal-schema/src/test/scala/ldbc/schema/DataTypesTest.scala
  module/ldbc-renewal-schema/src/test/scala/ldbc/schema/KeyTest.scala
  module/ldbc-renewal-schema/src/test/scala/ldbc/schema/TableTest.scala
Labels: 🔧 refactor, project:schema

#334 Refactor/2024 12 change use schema
  .github/workflows/ci.yml
  build.sbt
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/DatabaseModelGenerator.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/LdbcGenerator.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/TableModelGenerator.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/builder/ColumnCodeBuilder.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/builder/DataTypeCodeBuilder.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/formatter/Naming.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/model/Key.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/model/Table.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/model/TableOption.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/parser/Parser.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/parser/TableParser.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/builder/ColumnCodeBuilderTest.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/builder/DataTypeCodeBuilderTest.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/formatter/NamingTest.scala
  plugin/src/main/scala/ldbc/sbt/AutoImport.scala
  plugin/src/main/scala/ldbc/sbt/Dependencies.scala
  plugin/src/main/scala/ldbc/sbt/Format.scala
  plugin/src/sbt-test/plugin/example/test
Labels: 🔧 refactor, project:codegen

#337 Refactor/2024 12 migrate table name designation to derived
  benchmark/src/main/scala/benchmark/Model.scala
  benchmark/src/main/scala/benchmark/wrapper/ldbc/Insert.scala
  benchmark/src/main/scala/benchmark/wrapper/ldbc/Select.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/Table.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/TableQuery.scala
  tests/src/main/scala/ldbc/tests/model/City.scala
  tests/src/main/scala/ldbc/tests/model/Country.scala
  tests/src/main/scala/ldbc/tests/model/CountryLanguage.scala
  tests/src/main/scala/ldbc/tests/model/GovernmentOffice.scala
  tests/src/test/scala/ldbc/tests/TableQuerySelectConnectionTest.scala
  tests/src/test/scala/ldbc/tests/TableQueryUpdateConnectionTest.scala
Labels: 🔧 refactor, project:queryBuilder

#339 Fixed column comment
  module/ldbc-statement/src/main/scala/ldbc/statement/Column.scala
Labels: 🔧 refactor, project:statement

#340 Fixed Encoder fold use summonAll
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Encoder.scala
Labels: 🔧 refactor, project:dsl

#338 Enhancement/2024 12 added where condition
  module/ldbc-query-builder/src/test/scala/ldbc/query/builder/TableQueryTest.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/TableQueryTest.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Where.scala
Labels: 💪 enhancement, project:statement

#341 Refactor/2024 12 change test specs2 to scalatest
  build.sbt
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/builder/ColumnCodeBuilderTest.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/builder/DataTypeCodeBuilderTest.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/formatter/NamingTest.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/parser/ColumnParserTest.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/parser/DataTypeParserTest.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/parser/DatabaseStatementParserTest.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/parser/KeyParserTest.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/parser/SetParserTest.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/parser/TableParserTest.scala
  module/ldbc-codegen/shared/src/test/scala/ldbc/codegen/parser/yml/ParserTest.scala
Labels: 🔧 refactor, project:codegen

#342 Refactor/2024 12 fixed on duplicate key update parameter
  module/ldbc-statement/src/main/scala/ldbc/statement/Insert.scala
Labels: 🔧 refactor, project:statement

#343 Bugfix/2024 12 fixed single column insert
  module/ldbc-statement/src/main/scala/ldbc/statement/Insert.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/TableQuery.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/interpreter/ToTuple.scala
Labels: 🪲 bug, project:statement

#344 Refactor/2024 12 rename executor
  docs/src/main/scala/00-Setup.scala
  docs/src/main/scala/01-Program.scala
  docs/src/main/scala/02-Program.scala
  docs/src/main/scala/03-Program.scala
  docs/src/main/scala/04-Program.scala
  docs/src/main/scala/05-Program.scala
  docs/src/main/scala/0X-Cleanup.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/DBIO.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Mysql.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Query.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/package.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/syntax/package.scala
  module/ldbc-query-builder/src/test/scala/ldbc/query/builder/QuerySyntaxTest.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/syntax/package.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/syntax/CommandSyntax.scala
  tests/src/test/scala/ldbc/tests/DBIOTest.scala
  tests/src/test/scala/ldbc/tests/TableQuerySelectConnectionTest.scala
  tests/src/test/scala/ldbc/tests/TableQueryUpdateConnectionTest.scala
  tests/src/test/scala/ldbc/tests/TableSchemaSelectConnectionTest.scala
  tests/src/test/scala/ldbc/tests/TableSchemaUpdateConnectionTest.scala
Labels: 🔧 refactor, project:dsl

#347 Enhancement/2024 12 encoder extensions
  docs/src/main/scala/05-Program.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/TableModelGenerator.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Mysql.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Parameter.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Query.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Decoder.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Encoder.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/package.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/Table.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/TableQuery.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/syntax/package.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/ColumnImpl.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Table.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/TableQuery.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/syntax/package.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/ColumnImplTest.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Column.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Expression.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Insert.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Limit.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/TableQuery.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Update.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/interpreter/ToTuple.scala
  tests/src/main/scala/ldbc/tests/model/Country.scala
  tests/src/main/scala/ldbc/tests/model/CountryLanguage.scala
  tests/src/test/scala/ldbc/tests/TableQueryUpdateConnectionTest.scala
  tests/src/test/scala/ldbc/tests/TableSchemaUpdateConnectionTest.scala
Labels: 💪 enhancement, 🔧 refactor, project:queryBuilder, project:dsl, project:schema, project:statement

#348 Enhancement/2024 12 make encoder and decoder compatible with twiddles
  benchmark/src/main/scala/benchmark/Model.scala
  build.sbt
  docs/src/main/scala/05-Program.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/TableModelGenerator.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Mysql.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/ResultSetConsumer.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Decoder.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Encoder.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/package.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/Table.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/TableQuery.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/syntax/package.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/ColumnImpl.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Table.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/syntax/package.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/ColumnImplTest.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Column.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/syntax/CommandSyntax.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/syntax/QuerySyntax.scala
  tests/src/main/scala/ldbc/tests/model/Country.scala
  tests/src/main/scala/ldbc/tests/model/CountryLanguage.scala
  tests/src/test/scala/ldbc/tests/CodecTest.scala
  tests/src/test/scala/ldbc/tests/SQLStringContextQueryTest.scala
Labels: 💪 enhancement, 🔧 refactor, project:queryBuilder, project:dsl, project:schema, project:statement

#349 Feature/2024 12 create codec
  benchmark/src/main/scala/benchmark/Model.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/TableModelGenerator.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Parameter.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Codec.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Decoder.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Encoder.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/Table.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Table.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Column.scala
  tests/src/main/scala/ldbc/tests/model/Country.scala
  tests/src/main/scala/ldbc/tests/model/CountryLanguage.scala
Labels: 🚀 feature, project:dsl

#345 Update sbt, scripted-plugin from 1.10.6 to 1.10.7
  project/build.properties
Labels: ⛓️ dependencies
