Repository takapi327/ldbc, pull requests merged in 2024-07, with the labels that each got.

#245 Feature/2024 07 enhanced error handling
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Executor.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/package.scala
  tests/src/test/scala/ldbc/tests/ExecutorTest.scala
Labels: 🚀 feature, project:dsl

#246 Enhancement/2024 07 sql exception message enhancement
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/ConnectionImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/DatabaseMetaDataImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/MysqlSavepoint.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/BatchUpdateException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLDataException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLFeatureNotSupportedException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLIntegrityConstraintViolationException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLInvalidAuthorizationSpecException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLNonTransientException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLRecoverableException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLSyntaxErrorException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLTimeoutException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLTransactionRollbackException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLTransientConnectionException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLTransientException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/UnknownPacketException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/Protocol.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/AuthenticationPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/ERRPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/UnknownPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/Authentication.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/CallableStatementImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/ClientPreparedStatement.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/Initial.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/ServerPreparedStatement.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/StatementImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/util/Pretty.scala
  module/ldbc-connector/shared/src/test/scala/ldbc/connector/CallableStatementTest.scala
  module/ldbc-connector/shared/src/test/scala/ldbc/connector/ConnectionTest.scala
  module/ldbc-connector/shared/src/test/scala/ldbc/connector/ResultSetTest.scala
  module/ldbc-connector/shared/src/test/scala/ldbc/connector/StatementBatchTest.scala
  module/ldbc-connector/shared/src/test/scala/ldbc/connector/TransactionTest.scala
Labels: 💪 enhancement, ldbc:connector

#250 Delete unused cats dependencies
  build.sbt
  project/Dependencies.scala
Labels: 🔧 refactor, project:sql

#249 Update mdoc, sbt-mdoc from 2.5.3 to 2.5.4
  project/plugins.sbt
Labels: ⛓️ dependencies

#251 Update circe-yaml from 0.15.2 to 0.15.3
  build.sbt
Labels: ⛓️ dependencies

#252 Documentation/2024 06 change document liblay to laika
  .github/workflows/ci.yml
  build.sbt
  docs/src/main/mdoc/css/site.css
  docs/src/main/mdoc/default.template.html
  docs/src/main/mdoc/en/01-Table-Definitions.md
  docs/src/main/mdoc/en/02-Custom-Data-Type.md
  docs/src/main/mdoc/en/03-Type-safe-Query-Builder.md
  docs/src/main/mdoc/en/04-Database-Connection.md
  docs/src/main/mdoc/en/05-Plain-SQL-Queries.md
  docs/src/main/mdoc/en/06-Generating-SchemaSPY-Documentation.md
  docs/src/main/mdoc/en/07-Schema-Code-Generation.md
  docs/src/main/mdoc/en/08-Perdormance.md
  docs/src/main/mdoc/en/09-Connector.md
  docs/src/main/mdoc/en/directory.conf
  docs/src/main/mdoc/en/index.md
  docs/src/main/mdoc/en/reference/directory.conf
  docs/src/main/mdoc/en/reference/index.md
  docs/src/main/mdoc/en/tutorial/directory.conf
  docs/src/main/mdoc/en/tutorial/index.md
  docs/src/main/mdoc/index.md
  docs/src/main/mdoc/ja/01-Table-Definitions.md
  docs/src/main/mdoc/ja/02-Custom-Data-Type.md
  docs/src/main/mdoc/ja/03-Type-safe-Query-Builder.md
  docs/src/main/mdoc/ja/04-Database-Connection.md
  docs/src/main/mdoc/ja/05-Plain-SQL-Queries.md
  docs/src/main/mdoc/ja/06-Generating-SchemaSPY-Documentation.md
  docs/src/main/mdoc/ja/07-Schema-Code-Generation.md
  docs/src/main/mdoc/ja/08-Perdormance.md
  docs/src/main/mdoc/ja/09-Connector.md
  docs/src/main/mdoc/ja/directory.conf
  docs/src/main/mdoc/ja/index.md
  docs/src/main/mdoc/ja/reference/directory.conf
  docs/src/main/mdoc/ja/reference/index.md
  docs/src/main/mdoc/ja/tutorial/directory.conf
  docs/src/main/mdoc/ja/tutorial/index.md
  project/plugins.sbt
Labels: 📖 documentation

#254 Chore/2024 07 change to deprecated
  build.sbt
Labels: 🧰 chore, project:core, project:schemaSpy

#255 Chore/2024 07 delete docker version
  docker-compose.yml
Labels: 🧰 chore

#256 Enhancement/2024 07 performance improvements
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/ConnectionImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/DatabaseMetaDataImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/data/Parameter.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLDataException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLIntegrityConstraintViolationException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLInvalidAuthorizationSpecException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLNonTransientException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLTransactionRollbackException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLTransientConnectionException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLTransientException.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/request/ComStmtExecutePacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/ERRPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/CallableStatementImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/ClientPreparedStatement.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/ServerPreparedStatement.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/SharedPreparedStatement.scala
Labels: 💪 enhancement, ldbc:connector

#261 Refactor/2024 07 type change of capability flags
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/Connection.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/data/CapabilitiesFlags.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/BitVectorSocket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/PacketSocket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/Protocol.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/SSLNegotiation.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/request/ComChangeUserPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/request/ComQueryPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/request/HandshakeResponse320Packet.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/request/HandshakeResponse41Packet.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/request/HandshakeResponsePacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/request/SSLRequestPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/AuthenticationPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/BinaryProtocolResultSetRowPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/ColumnDefinitionPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/ColumnsNumberPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/ComStmtPrepareOkPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/EOFPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/ERRPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/GenericResponsePackets.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/InitialPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/OKPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/ResultSetRowPacket.scala
Labels: 🔧 refactor, ldbc:connector

#262 Refactor/2024 07 type change of server status flags
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/data/ServerStatusFlags.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/InitialPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/OKPacket.scala
Labels: 🔧 refactor, ldbc:connector

#263 Refactor/2024 07 changing collection types for result set row packet
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/DatabaseMetaDataImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/ResultSetImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/BinaryProtocolResultSetRowPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/ResultSetRowPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/CallableStatementImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/ClientPreparedStatement.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/ServerPreparedStatement.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/StatementImpl.scala
  module/ldbc-connector/shared/src/test/scala/ldbc/connector/ResultSetTest.scala
Labels: 🔧 refactor, ldbc:connector

#264 Refactor/2024 07 protocol read until eof function
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/DatabaseMetaDataImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/Protocol.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/CallableStatementImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/ClientPreparedStatement.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/ServerPreparedStatement.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/StatementImpl.scala
Labels: 🔧 refactor, ldbc:connector
