Repository takapi327/ldbc, pull requests merged in 2024-01, with the labels that each got.

#107 use `&` instead of `with`
  core/src/main/scala/ldbc/core/Alias.scala
  core/src/main/scala/ldbc/core/Key.scala
Labels: enhancement

#106 Feature/2024 01 add generate command
  docs/src/main/mdoc/en/07-Schema-Code-Generation.md
  docs/src/main/mdoc/ja/07-Schema-Code-Generation.md
  plugin/src/main/scala/ldbc/sbt/Commands.scala
  plugin/src/main/scala/ldbc/sbt/CustomKeys.scala
  plugin/src/main/scala/ldbc/sbt/Generator.scala
  plugin/src/main/scala/ldbc/sbt/ProcessLogger.scala
  plugin/src/main/scala/ldbc/sbt/Settings.scala
Labels: documentation, feature, project:plugin

#108 Refactor/2024 01 fix scalafmt settings
  .scalafmt.conf
  benchmark/src/main/scala/benchmark/jdbc/Select.scala
  core/src/main/scala/ldbc/core/Alias.scala
  core/src/main/scala/ldbc/core/DataType.scala
  core/src/main/scala/ldbc/core/interpreter/ColumnTupleConverter.scala
  module/ldbc-codegen/src/main/scala/ldbc/codegen/model/Key.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/ConnectionProvider.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Database.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/syntax/CommandSyntax.scala
  module/ldbc-hikari/src/main/scala/ldbc/hikari/Configuration.scala
  module/ldbc-hikari/src/main/scala/ldbc/hikari/ExecutionContexts.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/ColumnQuery.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/TableQuery.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/ExpressionSyntax.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/Join.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/Update.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/statement/Where.scala
  module/ldbc-schemaspy/src/main/scala/ldbc/schemaspy/SchemaSpyGenerator.scala
  module/ldbc-schemaspy/src/main/scala/ldbc/schemaspy/builder/TableBuilder.scala
  project/BuildSettings.scala
Labels: dependencies, refactor

#109 Create .scala-steward.conf
  .scala-steward.conf
Labels: feature

#110 Enhancement/2024 01 add sql type alias
  benchmark/src/main/scala/benchmark/ldbc/Insert.scala
  benchmark/src/main/scala/benchmark/ldbc/Select.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Alias.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/package.scala
  module/ldbc-dsl/src/test/scala/ldbc/dsl/DDLTest.scala
  module/ldbc-dsl/src/test/scala/ldbc/dsl/schema/Country.scala
  module/ldbc-dsl/src/test/scala/ldbc/dsl/schema/CountryLanguage.scala
  module/ldbc-dsl/src/test/scala/ldbc/dsl/syntax/QuerySyntaxTest.scala
Labels: enhancement, project:dsl

#111 Update HikariCP from 5.0.1 to 5.1.0
  project/Dependencies.scala
Labels: dependencies

#112 Update mysql-connector-java from 8.0.33 to 8.2.0
  project/Dependencies.scala
Labels: dependencies

#114 Update mdoc, sbt-mdoc from 2.5.1 to 2.5.2
  project/plugins.sbt
Labels: dependencies

#121 Add updates.ignore settings
  .scala-steward.conf
Labels: refactor

#115 Update specs2-core, specs2-junit from 5.4.0 to 5.4.2
  project/Dependencies.scala
Labels: dependencies

#116 Update doobie-core from 1.0.0-RC4 to 1.0.0-RC5
  project/Dependencies.scala
Labels: dependencies

#119 Update cats-effect from 3.5.2 to 3.5.3
  project/Dependencies.scala
Labels: dependencies

#118 Update mysql-connector-java from 8.2.0 to 8.3.0
  project/Dependencies.scala
Labels: dependencies
