Repository takapi327/ldbc, pull requests merged in 2025-04, with the labels that each got.

#429 Update cats-effect from 3.5.7 to 3.6.0
  build.sbt
  project/Dependencies.scala
Labels: ⛓️ dependencies

#430 Update munit-cats-effect from 2.0.0 to 2.1.0
  build.sbt
Labels: ⛓️ dependencies

#432 Update/fs2 core 3.12.0
  build.sbt
  module/ldbc-connector/native/src/test/scala/ldbc/connector/package.scala
Labels: ⛓️ dependencies

#425 Update logback-classic from 1.5.16 to 1.5.18
  build.sbt
Labels: ⛓️ dependencies

#428 Update HikariCP from 6.2.1 to 6.3.0
  project/Dependencies.scala
Labels: ⛓️ dependencies

#433 Dependencies/2025 04 update otel4s
  build.sbt
  examples/otel/src/main/scala/Main.scala
Labels: ⛓️ dependencies

#435 Discontinuation of the SchemaSPY project
  .github/workflows/ci.yml
  README.md
  build.sbt
  docs/src/main/mdoc/README.md
  docs/src/main/mdoc/index.md
  plugin/src/main/scala/ldbc/sbt/Dependencies.scala
Labels: 🔧 refactor, project:schemaSpy

#437 Refactor/2025 04 discontinuation of the core project
  .github/workflows/ci.yml
  README.md
  build.sbt
  core/js/src/test/scala/ldbc/core/DataTypeTest.scala
  core/jvm-native/src/test/scala/ldbc/core/DataTypeTest.scala
  core/shared/src/main/scala/ldbc/core/Alias.scala
  core/shared/src/main/scala/ldbc/core/Character.scala
  core/shared/src/main/scala/ldbc/core/Column.scala
  core/shared/src/main/scala/ldbc/core/DataType.scala
  core/shared/src/main/scala/ldbc/core/DataTypes.scala
  core/shared/src/main/scala/ldbc/core/Database.scala
  core/shared/src/main/scala/ldbc/core/Default.scala
  core/shared/src/main/scala/ldbc/core/JdbcType.scala
  core/shared/src/main/scala/ldbc/core/Key.scala
  core/shared/src/main/scala/ldbc/core/Reference.scala
  core/shared/src/main/scala/ldbc/core/Table.scala
  core/shared/src/main/scala/ldbc/core/TableOption.scala
  core/shared/src/main/scala/ldbc/core/attribute/AutoInc.scala
  core/shared/src/main/scala/ldbc/core/attribute/package.scala
  core/shared/src/main/scala/ldbc/core/builder/JdbcUrlBuilder.scala
  core/shared/src/main/scala/ldbc/core/builder/SqlFileBuilder.scala
  core/shared/src/main/scala/ldbc/core/builder/TableQueryBuilder.scala
  core/shared/src/main/scala/ldbc/core/interpreter/ColumnTupleConverter.scala
  core/shared/src/main/scala/ldbc/core/interpreter/ColumnTuples.scala
  core/shared/src/main/scala/ldbc/core/interpreter/Extract.scala
  core/shared/src/main/scala/ldbc/core/interpreter/Tuples.scala
  core/shared/src/main/scala/ldbc/core/model/EnumDataType.scala
  core/shared/src/main/scala/ldbc/core/package.scala
  core/shared/src/main/scala/ldbc/core/syntax/OrderingTable.scala
  core/shared/src/main/scala/ldbc/core/syntax/package.scala
  core/shared/src/main/scala/ldbc/core/validator/TableValidator.scala
  core/shared/src/test/scala/ldbc/core/AliasTest.scala
  core/shared/src/test/scala/ldbc/core/ColumnTest.scala
  core/shared/src/test/scala/ldbc/core/DataTypeCompileTest.scala
  core/shared/src/test/scala/ldbc/core/DataTypesTest.scala
  core/shared/src/test/scala/ldbc/core/KeyTest.scala
  core/shared/src/test/scala/ldbc/core/TableTest.scala
  core/shared/src/test/scala/ldbc/core/builder/TableQueryBuilderTest.scala
  docs/src/main/mdoc/README.md
  docs/src/main/mdoc/index.md
  plugin/src/main/scala/ldbc/sbt/Dependencies.scala
Labels: 🔧 refactor

#441 Update specs2-core, specs2-junit from 5.5.8 to 5.6.0
  project/Dependencies.scala
Labels: ⛓️ dependencies

#440 Update opentelemetry-exporter-otlp, ... from 1.48.0 to 1.49.0
  build.sbt
Labels: ⛓️ dependencies

#442 Update cats-effect from 3.6.0 to 3.6.1
  build.sbt
  project/Dependencies.scala
Labels: ⛓️ dependencies

#444 Refactor/2025 4 minor correction
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/Connection.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/request/AuthSwitchResponsePacket.scala
Labels: 🔧 refactor, ldbc:connector

#447 Update specs2-core, specs2-junit from 5.6.0 to 5.6.1
  project/Dependencies.scala
Labels: ⛓️ dependencies

#449 Added llms txt link
  README.md
  docs/src/main/mdoc/README.md
  docs/src/main/mdoc/index.md
Labels: 📖 documentation

#448 Update specs2-core, specs2-junit from 5.6.1 to 5.6.2
  project/Dependencies.scala
Labels: ⛓️ dependencies

#452 Enhancement/2025 04 added ssl test
  database/my.cnf
  database/mysql_user.sql
  database/ssl/ca-key.pem
  database/ssl/ca.pem
  database/ssl/client-cert.pem
  database/ssl/client-key.pem
  database/ssl/client-req.pem
  database/ssl/server-cert.pem
  database/ssl/server-key.pem
  database/ssl/server-req.pem
  docker-compose.yml
  docs/src/main/mdoc/en/tutorial/Connection.md
  docs/src/main/mdoc/ja/tutorial/Connection.md
  module/ldbc-connector/js/src/main/scala/ldbc/connector/SSLPlatform.scala
  module/ldbc-connector/js/src/test/scala/ldbc/connector/TLSConnectionTest.scala
  module/ldbc-connector/jvm/src/main/scala/ldbc/connector/SSLPlatform.scala
  module/ldbc-connector/jvm/src/test/scala/ldbc/connector/TLSConnectionTest.scala
  module/ldbc-connector/native/src/main/scala/ldbc/connector/SSLPlatform.scala
  module/ldbc-connector/native/src/test/scala/ldbc/connector/TLSConnectionTest.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/SSL.scala
  module/ldbc-connector/shared/src/test/resources/keystore.jks
  script/generate-ssl-certs.sh
  script/san.cnf
Labels: 💪 enhancement, ldbc:connector

#451 Update doobie-core from 1.0.0-RC8 to 1.0.0-RC9
  project/Dependencies.scala
Labels: ⛓️ dependencies

#458 Create npmPublish yml
  .github/workflows/npmPublish.yml
Labels: 🚀 feature
