Repository takapi327/ldbc, pull requests merged in 2025-07, with the labels that each got.

#503 Feature/2025 06 option method
  module/ldbc-dsl/src/main/scala/ldbc/dsl/DBIO.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Query.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/exception/UnexpectedContinuation.scala
  tests/shared/src/test/scala/ldbc/tests/SQLStringContextQueryTest.scala
  tests/shared/src/test/scala/ldbc/tests/TableQuerySelectConnectionTest.scala
  tests/shared/src/test/scala/ldbc/tests/TableSchemaSelectConnectionTest.scala
Labels: ⛓️ dependencies

#504 Feature/2025 06 nel method
  docs/src/main/mdoc/en/tutorial/Selecting-Data.md
  docs/src/main/mdoc/ja/tutorial/Selecting-Data.md
  module/ldbc-dsl/src/main/scala/ldbc/dsl/DBIO.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Query.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/ResultSetConsumer.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/exception/UnexpectedEnd.scala
  tests/shared/src/test/scala/ldbc/tests/SQLStringContextQueryTest.scala
  tests/shared/src/test/scala/ldbc/tests/ServerCursorFetchTest.scala
  tests/shared/src/test/scala/ldbc/tests/TableQuerySelectConnectionTest.scala
  tests/shared/src/test/scala/ldbc/tests/TableSchemaSelectConnectionTest.scala
Labels: ⛓️ dependencies

#506 Update cats-effect from 3.6.1 to 3.6.2
  build.sbt
  project/Dependencies.scala
Labels: ⛓️ dependencies

#508 Update typesafe:config from 1.4.3 to 1.4.4
  project/Dependencies.scala
Labels: ⛓️ dependencies

#510 Update opentelemetry-exporter-otlp, ... from 1.51.0 to 1.52.0
  build.sbt
Labels: ⛓️ dependencies

#509 Additional Stream Support
  README.md
  build.sbt
  codecov.yml
  docs/src/main/mdoc/en/index.md
  docs/src/main/mdoc/en/qa/Is-there-a-way-to-stream-query-results-asynchronously.md
  docs/src/main/mdoc/en/tutorial/Selecting-Data.md
  docs/src/main/mdoc/ja/index.md
  docs/src/main/mdoc/ja/qa/Is-there-a-way-to-stream-query-results-asynchronously.md
  docs/src/main/mdoc/ja/tutorial/Selecting-Data.md
  module/ldbc-dsl/src/main/scala/ldbc/dsl/DBIO.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Query.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/ResultSetConsumer.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/free/ConnectionIO.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/free/Embedded.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/free/KleisliInterpreter.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/free/PreparedStatementIO.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/free/ResultSetIO.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/free/StatementIO.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/syntax/HelperFunctionsSyntax.scala
  module/ldbc-dsl/src/test/scala/ldbc/dsl/codec/DecoderTest.scala
  tests/jvm/src/test/scala/ldbc/tests/JdbcStreamQueryTest.scala
  tests/shared/src/test/scala/ldbc/tests/SQLStringContextUpdateTest.scala
  tests/shared/src/test/scala/ldbc/tests/StreamQueryTest.scala
Labels: 📖 documentation, 🚀 feature, 🔧 refactor, project:dsl

#511 Update doobie-core from 1.0.0-RC9 to 1.0.0-RC10
  project/Dependencies.scala
Labels: ⛓️ dependencies

#507 Update otel4s-core-trace, otel4s-oteljava from 0.12.0 to 0.13.1
  build.sbt
Labels: ⛓️ dependencies

#513 Update HikariCP from 6.3.0 to 6.3.1
  project/Dependencies.scala
Labels: ⛓️ dependencies

#515 Bug/2025 07 fix codec decode error
  module/ldbc-dsl/src/main/scala/ldbc/dsl/DBIO.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Codec.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Decoder.scala
  module/ldbc-dsl/src/test/scala/ldbc/dsl/codec/DecoderTest.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Column.scala
Labels: 🪲 bug

#516 Update HikariCP from 6.3.1 to 6.3.2
  project/Dependencies.scala
Labels: ⛓️ dependencies
