Repository takapi327/ldbc, pull requests merged in 2025-01, with the labels that each got.

#350 Enhancement/2025 01 make decoder support either
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Mysql.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Query.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/ResultSetConsumer.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Codec.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Decoder.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Encoder.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/exception/DecodeFailureException.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/exception/LdbcException.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/syntax/package.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/syntax/package.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Column.scala
  tests/src/test/scala/ldbc/tests/SQLStringContextQueryTest.scala
Labels: 💪 enhancement, project:dsl

#351 Refactor/2025 01 fixed dbio warning
  module/ldbc-dsl/src/main/scala/ldbc/dsl/DBIO.scala
  tests/src/test/scala/ldbc/tests/DBIOTest.scala
Labels: 🔧 refactor, project:dsl

#352 Dependencies/2025 01 update scala3 compiler 3.6.2
  .github/workflows/ci.yml
  build.sbt
  project/Versions.scala
Labels: ⛓️ dependencies

#353 Enhancement/2025 01 update where statement
  module/ldbc-query-builder/src/test/scala/ldbc/query/builder/TableQueryTest.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/TableQueryTest.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Column.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Delete.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Select.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Update.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Where.scala
Labels: 💪 enhancement, project:statement

#357 Comparison operator compile error due to use of Opaque Type Alias
  module/ldbc-statement/src/main/scala/ldbc/statement/Column.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Expression.scala
  module/ldbc-statement/src/test/scala/ldbc/statement/ColumnTest.scala
Labels: 🪲 bug, project:statement

#358 Update bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: 🔧 refactor

#361 Update sbt-scalajs, scalajs-library_2.13, ... from 1.17.0 to 1.18.1
  project/plugins.sbt
Labels: ⛓️ dependencies

#362 Empty VALUES in INSERT statement causes error statement to be issued
  benchmark/src/main/scala/benchmark/wrapper/ldbc/Insert.scala
  module/ldbc-query-builder/src/test/scala/ldbc/query/builder/TableQueryTest.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/TableQueryTest.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Insert.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/TableQuery.scala
  tests/src/test/scala/ldbc/tests/TableQueryUpdateConnectionTest.scala
  tests/src/test/scala/ldbc/tests/TableSchemaUpdateConnectionTest.scala
Labels: 🪲 bug, project:statement

#364 Passing an empty value in the IN clause of a WHERE statement throws an error
  module/ldbc-statement/src/main/scala/ldbc/statement/Column.scala
Labels: 🪲 bug, project:statement

#367 Update sbt-typelevel, sbt-typelevel-site from 0.7.5 to 0.7.6
  project/plugins.sbt
Labels: ⛓️ dependencies

#372 Changed to use export function instead of creating Alias Type.
  module/ldbc-schema/src/main/scala/ldbc/schema/Alias.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Reference.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Table.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/ColumnImplTest.scala
Labels: 🔧 refactor, project:schema

#368 refactor(connector): use hashing from fs2
  module/ldbc-connector/js/src/main/scala/ldbc/connector/authenticator/MysqlNativePasswordPlugin.scala
  module/ldbc-connector/js/src/main/scala/ldbc/connector/authenticator/Sha256PasswordPluginPlatform.scala
  module/ldbc-connector/jvm/src/main/scala/ldbc/connector/authenticator/CachingSha2PasswordPlugin.scala
  module/ldbc-connector/jvm/src/main/scala/ldbc/connector/authenticator/MysqlNativePasswordPlugin.scala
  module/ldbc-connector/jvm/src/main/scala/ldbc/connector/authenticator/Sha256PasswordPluginPlatform.scala
  module/ldbc-connector/native/src/main/scala/ldbc/connector/authenticator/CachingSha2PasswordPlugin.scala
  module/ldbc-connector/native/src/main/scala/ldbc/connector/authenticator/MysqlNativePasswordPlugin.scala
  module/ldbc-connector/native/src/main/scala/ldbc/connector/authenticator/Sha256PasswordPluginPlatform.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/Connection.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/authenticator/AuthenticationPlugin.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/authenticator/CachingSha2PasswordPlugin.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/authenticator/MysqlNativePasswordPlugin.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/authenticator/Sha256PasswordPlugin.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/Protocol.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/request/AuthSwitchResponsePacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/request/ComChangeUserPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/Authentication.scala
Labels: 🔧 refactor, ldbc:connector

#376 Update scalafmt-core from 3.8.3 to 3.8.6
  .git-blame-ignore-revs
  .scalafmt.conf
  core/shared/src/main/scala/ldbc/core/validator/TableValidator.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/model/Key.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/parser/DataTypeParser.scala
  module/ldbc-codegen/shared/src/main/scala/ldbc/codegen/parser/TableParser.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/request/BinaryProtocolValuePacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/CallableStatementImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/ClientPreparedStatement.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/ServerPreparedStatement.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/StatementImpl.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/exception/DecodeFailureException.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/package.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/TableQuery.scala
  tests/src/test/scala/ldbc/tests/ConnectionTest.scala
Labels: ⛓️ dependencies

#373 tidy: use effect aware uuid gen
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/Connection.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/ConnectionImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/util/StringHelper.scala
Labels: 🔧 refactor, ldbc:connector

#374 tidy: use weaker effect constraints
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/ConnectionImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/DatabaseMetaDataImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/Protocol.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/CallableStatementImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/ClientPreparedStatement.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/Initial.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/ServerPreparedStatement.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/SharedPreparedStatement.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/StatementImpl.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/DBIO.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Mysql.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Query.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/ResultSetConsumer.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/package.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/syntax/StringContextSyntax.scala
Labels: 🔧 refactor, ldbc:connector

#377 Update sbt-typelevel, sbt-typelevel-site from 0.7.6 to 0.7.7
  project/plugins.sbt
Labels: ⛓️ dependencies
