Repository takapi327/ldbc, pull requests merged in 2025-03, with the labels that each got.

#401 Refactor/2025 02 issues 404
  benchmark/src/main/scala/benchmark/connector/jdbc/Select.scala
  benchmark/src/main/scala/benchmark/connector/ldbc/Select.scala
  docs/src/main/mdoc/img/connector/Select.svg
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/ResultSetRowPacket.scala
Labels: 🔧 refactor, ldbc:connector

#403 Update scalafmt-core from 3.9.1 to 3.9.2
  .scalafmt.conf
Labels: ⛓️ dependencies

#409 Update scalafmt-core from 3.9.2 to 3.9.3
  .scalafmt.conf
Labels: ⛓️ dependencies

#410 Update scala3-compiler, scala3-library, ... from 3.6.3 to 3.6.4
  .github/workflows/ci.yml
  project/Versions.scala
Labels: ⛓️ dependencies

#411 Refactor/2025 03 issues 405
  docs/src/main/mdoc/img/connector/Select17.svg
  docs/src/main/mdoc/img/connector/Select21.svg
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/ColumnDefinition41Packet.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/InitialPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/OKPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/Initial.scala
Labels: 🔧 refactor, ldbc:connector

#407 Update sbt, scripted-plugin from 1.10.7 to 1.10.10
  project/build.properties
Labels: ⛓️ dependencies

#414 Update scalafmt-core from 3.9.3 to 3.9.4
  .scalafmt.conf
Labels: ⛓️ dependencies

#412 Feature/2025 03 create provider
  benchmark/src/main/scala/benchmark/connector/jdbc/Batch.scala
  benchmark/src/main/scala/benchmark/connector/jdbc/Insert.scala
  benchmark/src/main/scala/benchmark/connector/jdbc/Select.scala
  benchmark/src/main/scala/benchmark/connector/ldbc/Batch.scala
  benchmark/src/main/scala/benchmark/connector/ldbc/Insert.scala
  benchmark/src/main/scala/benchmark/connector/ldbc/Select.scala
  benchmark/src/main/scala/benchmark/wrapper/ldbc/Insert.scala
  benchmark/src/main/scala/benchmark/wrapper/ldbc/Select.scala
  module/jdbc-connector/src/main/scala/jdbc/connector/ExecutionContexts.scala
  module/jdbc-connector/src/main/scala/jdbc/connector/MySQLProvider.scala
  module/jdbc-connector/src/main/scala/jdbc/connector/MysqlDataSource.scala
  module/jdbc-connector/src/main/scala/jdbc/connector/package.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/Connection.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/MySQLProvider.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/package.scala
  module/ldbc-sql/src/main/scala/ldbc/sql/DataSource.scala
  module/ldbc-sql/src/main/scala/ldbc/sql/Provider.scala
  tests/src/test/scala/ldbc/tests/CodecTest.scala
  tests/src/test/scala/ldbc/tests/ConnectionTest.scala
  tests/src/test/scala/ldbc/tests/DBIOTest.scala
  tests/src/test/scala/ldbc/tests/DDLTest.scala
  tests/src/test/scala/ldbc/tests/DatabaseMetaDataTest.scala
  tests/src/test/scala/ldbc/tests/SQLStringContextQueryTest.scala
  tests/src/test/scala/ldbc/tests/SQLStringContextUpdateTest.scala
  tests/src/test/scala/ldbc/tests/TableQuerySelectConnectionTest.scala
  tests/src/test/scala/ldbc/tests/TableQueryUpdateConnectionTest.scala
  tests/src/test/scala/ldbc/tests/TableSchemaSelectConnectionTest.scala
  tests/src/test/scala/ldbc/tests/TableSchemaUpdateConnectionTest.scala
Labels: 🚀 feature, project:sql, project:hikari, ldbc:connector, jdbc:connector

#413 Update slick from 3.5.2 to 3.6.0
  project/Dependencies.scala
Labels: ⛓️ dependencies

#418 Correction of log output method
  module/jdbc-connector/src/main/scala/jdbc/connector/MySQLProvider.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/Connection.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/MySQLProvider.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/DBIO.scala
  module/ldbc-sql/src/main/scala/ldbc/sql/Provider.scala
Labels: 🔧 refactor, project:sql, project:dsl, ldbc:connector, jdbc:connector

#420 Added getter method
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/exception/SQLException.scala
Labels: 🔧 refactor, ldbc:connector

#421 Rename MySQLProvider -> ConnectionProvider
  README.md
  benchmark/src/main/scala/benchmark/connector/jdbc/Batch.scala
  benchmark/src/main/scala/benchmark/connector/jdbc/Insert.scala
  benchmark/src/main/scala/benchmark/connector/jdbc/Select.scala
  benchmark/src/main/scala/benchmark/connector/ldbc/Batch.scala
  benchmark/src/main/scala/benchmark/connector/ldbc/Insert.scala
  benchmark/src/main/scala/benchmark/connector/ldbc/Select.scala
  benchmark/src/main/scala/benchmark/wrapper/ldbc/Insert.scala
  benchmark/src/main/scala/benchmark/wrapper/ldbc/Select.scala
  docs/src/main/scala/00-Setup.scala
  docs/src/main/scala/01-Program.scala
  docs/src/main/scala/02-Program.scala
  docs/src/main/scala/03-Program.scala
  docs/src/main/scala/04-Program.scala
  docs/src/main/scala/05-Program.scala
  docs/src/main/scala/0X-Cleanup.scala
  module/jdbc-connector/src/main/scala/jdbc/connector/ConnectionProvider.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/ConnectionProvider.scala
  tests/src/test/scala/ldbc/tests/CodecTest.scala
  tests/src/test/scala/ldbc/tests/ConnectionTest.scala
  tests/src/test/scala/ldbc/tests/DBIOTest.scala
  tests/src/test/scala/ldbc/tests/DDLTest.scala
  tests/src/test/scala/ldbc/tests/DatabaseMetaDataTest.scala
  tests/src/test/scala/ldbc/tests/SQLStringContextQueryTest.scala
  tests/src/test/scala/ldbc/tests/SQLStringContextUpdateTest.scala
  tests/src/test/scala/ldbc/tests/TableQuerySelectConnectionTest.scala
  tests/src/test/scala/ldbc/tests/TableQueryUpdateConnectionTest.scala
  tests/src/test/scala/ldbc/tests/TableSchemaSelectConnectionTest.scala
  tests/src/test/scala/ldbc/tests/TableSchemaUpdateConnectionTest.scala
Labels: 🔧 refactor, ldbc:connector, jdbc:connector

#423 Change automatic Codec derivation to optional processing
  README.md
  benchmark/src/main/scala/benchmark/Model.scala
  benchmark/src/main/scala/benchmark/wrapper/ldbc/Insert.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Codec.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Decoder.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Encoder.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/auto/generic/package.scala
  module/ldbc-dsl/src/test/scala/ldbc/dsl/HelperFunctionTest.scala
  module/ldbc-query-builder/src/test/scala/ldbc/query/builder/QuerySyntaxTest.scala
  module/ldbc-query-builder/src/test/scala/ldbc/query/builder/TableQueryTest.scala
  tests/src/main/scala/ldbc/tests/model/City.scala
  tests/src/main/scala/ldbc/tests/model/Country.scala
  tests/src/main/scala/ldbc/tests/model/CountryLanguage.scala
  tests/src/main/scala/ldbc/tests/model/GovernmentOffice.scala
  tests/src/test/scala/ldbc/tests/SQLStringContextQueryTest.scala
Labels: 🔧 refactor, project:dsl

#417 Update sbt, scripted-plugin from 1.10.10 to 1.10.11
  project/build.properties
Labels: ⛓️ dependencies

#416 Update circe-generic from 0.14.10 to 0.14.12
  build.sbt
Labels: ⛓️ dependencies

#424 Enhancement/2025 03 added llms txt
  build.sbt
  script/build-llm-docs.sh
Labels: 📖 documentation
