Repository takapi327/ldbc, pull requests merged in 2025-02, with the labels that each got.

#381 Fixed ResultSetImpl get value logic
  benchmark/src/main/scala/benchmark/connector/jdbc/Select.scala
  module/ldbc-connector/js/src/test/scala/ldbc/connector/codec/NumericCodecsTest.scala
  module/ldbc-connector/jvm/src/test/scala/ldbc/connector/codec/NumericCodecsTest.scala
  module/ldbc-connector/native/src/test/scala/ldbc/connector/codec/NumericCodecsTest.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/ResultSetImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/BooleanCodec.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/Codec.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/Decoder.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/Encoder.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/NumericCodecs.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/TemporalCodecs.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/TextCodecs.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/package.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/Protocol.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/AuthenticationPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/EOFPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/ResultSetRowPacket.scala
  module/ldbc-connector/shared/src/test/scala/ldbc/connector/codec/BooleanCodecTest.scala
  module/ldbc-connector/shared/src/test/scala/ldbc/connector/codec/TemporalCodecsTest.scala
  module/ldbc-connector/shared/src/test/scala/ldbc/connector/codec/TextCodecsTest.scala
Labels: 🔧 refactor, ldbc:connector

#370 Update scala3-compiler, scala3-library, ... from 3.6.2 to 3.6.3
  .github/workflows/ci.yml
  project/Versions.scala
Labels: ⛓️ dependencies

#375 Update sbt-scalajs, scalajs-library_2.13, ... from 1.18.1 to 1.18.2
  project/plugins.sbt
Labels: ⛓️ dependencies

#380 Enhancement/2025 01 survey performance
  benchmark/src/main/scala/benchmark/connector/jdbc/Select.scala
  docs/src/main/mdoc/img/connector/Select.svg
  module/ldbc-connector/js/src/test/scala/ldbc/connector/codec/NumericCodecsTest.scala
  module/ldbc-connector/jvm/src/test/scala/ldbc/connector/codec/NumericCodecsTest.scala
  module/ldbc-connector/native/src/test/scala/ldbc/connector/codec/NumericCodecsTest.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/DatabaseMetaDataImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/ResultSetImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/BooleanCodec.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/Codec.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/Decoder.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/Encoder.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/NumericCodecs.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/TemporalCodecs.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/TextCodecs.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/codec/package.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/data/ColumnDataType.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/data/ColumnDefinitionFlags.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/Protocol.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/AuthenticationPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/ColumnDefinition41Packet.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/EOFPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/InitialPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/packet/response/ResultSetRowPacket.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/CallableStatementImpl.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/ClientPreparedStatement.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/net/protocol/StatementImpl.scala
  module/ldbc-connector/shared/src/test/scala/ldbc/connector/codec/BooleanCodecTest.scala
  module/ldbc-connector/shared/src/test/scala/ldbc/connector/codec/TemporalCodecsTest.scala
  module/ldbc-connector/shared/src/test/scala/ldbc/connector/codec/TextCodecsTest.scala
Labels: 💪 enhancement, 🔧 refactor, ldbc:connector

#385 Enclose columns in bag quotation marks
  module/ldbc-query-builder/src/test/scala/ldbc/query/builder/TableQueryTest.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/ColumnImpl.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Table.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/AliasTest.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/ColumnImplTest.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/KeyTest.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/TableQueryTest.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Column.scala
  module/ldbc-statement/src/test/scala/ldbc/statement/ColumnTest.scala
Labels: 🔧 refactor, project:queryBuilder, project:schema, project:statement

#386 Update doobie-core from 1.0.0-RC6 to 1.0.0-RC7
  project/Dependencies.scala
Labels: ⛓️ dependencies

#387 Refactor/2025 02 key settings
  module/ldbc-schema/src/main/scala/ldbc/schema/Alias.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Reference.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Table.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/AliasTest.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/TableTest.scala
Labels: 🔧 refactor, project:schema

#388 Enhancement/2025 02 data type column
  benchmark/src/main/scala/benchmark/Model.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/codec/Encoder.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/Table.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Character.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/DataTypeColumn.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Table.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/attribute/AutoInc.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/macros/DataTypeColumnMacros.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/TableCreateStatementTest.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/TableTest.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/formatter/Naming.scala
  module/ldbc-statement/src/test/scala/ldbc/statement/formatter/NamingTest.scala
  tests/src/main/scala/ldbc/tests/model/City.scala
Labels: 💪 enhancement, project:schema

#389 Enhancement/2025 02 added ddl schema
  module/ldbc-dsl/src/main/scala/ldbc/dsl/DBIO.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Alias.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/Table.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/TableQuery.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/syntax/package.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/TableCreateStatementTest.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/Schema.scala
  module/ldbc-statement/src/main/scala/ldbc/statement/TableQuery.scala
  tests/src/test/scala/ldbc/tests/DDLTest.scala
Labels: 💪 enhancement, project:statement

#391 Update scalafmt-core from 3.8.6 to 3.9.0
  .scalafmt.conf
Labels: ⛓️ dependencies

#390 Enhancement/2025 02 added key
  module/ldbc-schema/.js/src/test/scala/ldbc/schema/DataTypeTest.scala
  module/ldbc-schema/.jvm/src/test/scala/ldbc/schema/DataTypeTest.scala
  module/ldbc-schema/.native/src/test/scala/ldbc/schema/DataTypeTest.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/DataType.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/DataTypeColumn.scala
  module/ldbc-schema/src/test/scala/ldbc/schema/ColumnImplTest.scala
Labels: 💪 enhancement, project:schema

#392 Fixed a bug that caused incorrect statements to be issued when keys w…
  module/ldbc-schema/src/main/scala/ldbc/schema/TableQuery.scala
Labels: 🪲 bug, project:schema

#393 Feature/2025 02 add before after process
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/Connection.scala
  module/ldbc-connector/shared/src/test/scala/ldbc/connector/ConnectionTest.scala
Labels: 🚀 feature, ldbc:connector

#395 Add a function to perform a single operation on the DBIO
  module/ldbc-dsl/src/main/scala/ldbc/dsl/DBIO.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Mysql.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/Query.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/package.scala
  module/ldbc-query-builder/src/main/scala/ldbc/query/builder/syntax/package.scala
  module/ldbc-schema/src/main/scala/ldbc/schema/syntax/package.scala
Labels: 🚀 feature, project:dsl

#397 Added Connection alias
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/Connection.scala
Labels: 🔧 refactor, ldbc:connector

#396 Update scalafmt-core from 3.9.0 to 3.9.1
  .scalafmt.conf
Labels: ⛓️ dependencies

#398 Refactor/2025 02 replace log handler
  docs/src/main/scala/00-Setup.scala
  docs/src/main/scala/01-Program.scala
  docs/src/main/scala/02-Program.scala
  docs/src/main/scala/03-Program.scala
  docs/src/main/scala/04-Program.scala
  docs/src/main/scala/05-Program.scala
  docs/src/main/scala/0X-Cleanup.scala
  module/jdbc-connector/src/main/scala/jdbc/connector/ConnectionImpl.scala
  module/jdbc-connector/src/main/scala/jdbc/connector/DatabaseMetaDataImpl.scala
  module/jdbc-connector/src/main/scala/jdbc/connector/MysqlDataSource.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/Connection.scala
  module/ldbc-connector/shared/src/main/scala/ldbc/connector/ConnectionImpl.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/DBIO.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/logging/LogHandler.scala
  module/ldbc-dsl/src/main/scala/ldbc/dsl/package.scala
  module/ldbc-sql/src/main/scala/ldbc/sql/Connection.scala
  module/ldbc-sql/src/main/scala/ldbc/sql/logging/LogEvent.scala
  module/ldbc-sql/src/main/scala/ldbc/sql/logging/LogHandler.scala
Labels: 🔧 refactor, project:sql, project:dsl, ldbc:connector, jdbc:connector
